.header {
  width: 100%;
  height: 400px;
  background-color: #ece1e185;
}
.slogan {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background: url('http://d1grca2t3zpuug.cloudfront.net/2017/06/japanmaturi2017listttt-cover.jpg') no-repeat center center;
  filter: opacity(.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(253, 241, 20);
  position: relative;
}
.slogan p, .slogan h1 {
  background-color: #656262;
  border-radius: 10px;
}
.slogan p {
  font-size: 20px;
}
.slogan h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
.slogan div {
  background-color: #090909;
  position: absolute;
  font-size: 30px;
  right: 100px;
  bottom: 100px;
  transform: rotate(-30deg);
  color: white;
}

/* 搜尋 */
.search {
  width: 95%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}
.search input[type="search"] {
  width: 500px;
  line-height: 2.5rem;
}
.search div button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.search div button:hover {
  color: #7a7979;
}
/* 產品區 */
.product {
  width: 95%;
  margin: 0 auto;
  background-color: #ece1e185;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 29.33%;
  margin: 0 2% 30px;
}
.item .pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.item .pic img {
  width: 100%;
  height: 100%;
}
.item .txt {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.item .txt h4 {
  text-align: center;
}
.item .txt div {
  display: flex;
  justify-content: space-between;
}
.item .txt div span:first-child {
  text-decoration: line-through;
}
.item .txt div span:last-child {
  color: rgb(163, 11, 11);
}