form {
  background-color: #444343;
  width: 50%;
  margin: 100px auto 0;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #aaa;
}
form:hover {
  box-shadow: 0px 0px 10px 5px #415c5b;
}
form h2 {
  padding-top: 30px;
}
form .user {
  text-align: center;
}
form div input {
  width: 200px;
  line-height: 2rem;
}
form span {
  display: block;
  text-align: center;
  color: yellow;
}
form .button {
  display: flex;
  justify-content: space-between;
}
.button button {
  background-color: rgb(245, 245, 243);
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  width: 50px;
}
.button p {
  margin: 10px 0 10px 10px;
  background-color: #fa0a0a;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.button button {
  margin: 10px 10px 10px 0px;
  background-color: #13970f;
  color: #fff;
}
/* form button:hover {
  color: rgb(4, 4, 223);
} */